+section("Armaments")
  p Use the Attack Action on your turn to use these
  each label, attr in {"arm1": "Armament 1", "arm2": "Armament 2", "arm1b": "Backup Armament 1", "arm2b": "Backup Armament 2"}
    h3.title= `${label}:`
    .columns
      .column
        +textfield(`attr_${attr}_name`, "Name")(list="armament_names")
    .columns.is-variable.is-1
      .column.is-narrow
        +numberfield(`attr_${attr}_dice`, "Dice")
          button(type="roll" value=`&{template:af} {{name=${label}: @{${attr}_name}}} {{roll=[[@{${attr + '_dice'}}d6kh1]]}} {{tags=@{${attr}_tags}}}`)
      .column.is-narrow
        +numberfield(`attr_${attr}_harm`, "Harm")
      .column
        +textfield(`attr_${attr}_range`, "Range")(list="ranges")
    .columns
      .column
        +textfield(`attr_${attr}_tags`, "Tags")(list="tags")
        +taglist(`attr_${attr}_tags`)