+section("Armaments")
  p Use the Attack Action on your turn to use these
  each label, attr in {"arm1": "Armament 1", "arm2": "Armament 2", "arm_1b": "Backup Armament 1", "arm_2b": "Backup Armament 2"}
    h3.title= `${label}:`
    .columns
      .column
        +textfield(`attr_${attr}_name`, "Name")
    .columns
      .column
        +numberfield(`attr_${attr}_dice`, "Dice")
          button(type="roll" value=`/roll @{${attr + '_dice'}}d6kh1`)
      .column
        +numberfield(`attr_${attr}_harm`, "Harm")
      .column
        +numberfield(`attr_${attr}_range`, "Range")
    .columns
      .column
        +textfield(`attr_${attr}_tags`, "Tags")
        +taglist(`attr_${attr}_tags`)