+section("Systems")
  p Spend 1 Fuel on your turn to use these
  each label, attr in {"system_signature": "Signature System", "system_modular_1": "Modular System 1", "system_modular_2": "Modular System 2"}
    h3.title= `${label}:`
    .columns
      .column
        .is-pulled-right
          +damage(`attr_${attr}_damage`)
        //- Don't autocomplete for signature systems, those come with the frame
        if attr == "system_signature"
          +textfield_v(`attr_${attr}_name`, "Name")
        else
          +textfield_v(`attr_${attr}_name`, "Name")(list="system_names")
    .columns
      .column
        +textarea(`attr_${attr}_effect`, "Effect")
    .columns
      .column
        +textfield(`attr_${attr}_tags`, "Tags")(list="tags")
        +taglist(`attr_${attr}_tags`)