+section("Systems")
  p Spend 1 Fuel on your turn to use these
  each label, attr in {"system_signature": "Signature System", "system_modular_1": "Modular System 1", "system_modular_2": "Modular System 2"}
    h3.title= `${label}:`
    .columns
      .column
        +textfield(`attr_${attr}_name`, "Name")
    .columns
      .column
        +textarea(`attr_${attr}_effect`, "Effect")
    .columns
      .column
        +textfield(`attr_${attr}_tags`, "Tags")
        +taglist(`attr_${attr}_tags`)