datalist#frame_models
  each entry in frames
    option= entry.frame_model

datalist#system_names
  each entry in systems
   option= entry.slot_name


datalist#armament_names
  each entry in armaments
   option= entry.slot_name

datalist#range_tags
  each help, tag in rangeTags
    option= tag

datalist#system_tags
  each help, tag in systemTags
    option= tag

datalist#armament_tags
  each help, tag in armamentTags
    option= tag
